body{
    background-color: #0f172a;
    margin: 0;
    padding: 0;
}
.Dashboard{
    background-color:#1e293b;
    padding: 10px;
    max-height: 100vh;
    overflow-y: scroll;
}
.Dashboard::-webkit-scrollbar {
  display: none;
}
.Logo h1{
    color: white;
    font-size: 32px;
    padding-top: 20px;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Montserrat-Medium;
}
.MainHome p,.AllPage p,.Setting p,.Components p,.Support p,.ConnectUs p{
    background-color: #0f172a;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    letter-spacing: 1px;
    font-family: Mon3serrat-Medium;
    color: white;

}
.MainHome a,.AllPage a,.Gallery a,.Report a,.Setting a,.Components a,.Support a{
    text-decoration: none;
    padding-left: 15px;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
}
.MainHome a:hover,.AllPage a:hover,.Gallery a:hover,.Report a:hover,.Setting a:hover,.Components a:hover,.Support a:hover{
    color:aqua;
    background-color: #1e293b;
}
.MainHome span{
    padding-top: 5px;
}
.AllPage .dropdown{
    width: 80%;
}
.AllPage .dropdown-menu,.Setting .dropdown-menu{
    background-color: #1e293b;
    border: none;
    width: 80%;
    text-align: center;
}
.Connectlinks{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.Searchpartbg{
    background-color: #1e293b;
    padding: 15px 0px;
}
.Searchbtn{
    padding: 10px 30px;
    margin-left: 20px;
    color: white;
    border-color: #0f172a;
    font-family: Montserrat-Medium;
}
.Searchbtn:hover{
    color: black;
    background-color: white;
}
.form-control{
    background-color: #0f172a;
    font-size: 16px;
    margin-left: 15px;
    font-family: Montserrat-Medium;
}
.Admindetails{
    display: grid;
    grid-template-columns: 60px 160px;
    justify-content: center;
}
.Adminuserdetails h5{
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Montserrat-Medium;
}
.Adminuserdetails p{
    color: white;
    font-family: Montserrat-Medium;
    font-size: 14px;
    font-weight: bold;
}
.Logoutbtn button{
    background-color: transparent;
    border: 1px solid #1e293b;
    color: white;
    border-radius: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Montserrat-Medium;
}
.Logoutbtn button:hover{
    color: black;
}
.MainBody{
    padding-bottom: 40px;
    max-height: 100vh;
    overflow-y: scroll;
}
.MainBody::-webkit-scrollbar{
    display: none;
}
.AddAttributeDetail{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.AddAttributeDetail .AddAttributeHead h3{
    color: white;
    font-family: Montserrat-Medium;
    letter-spacing: 2px;
    font-weight: bold;
}
.AddAttributeDetail .AddAttributeLinks a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.AddAttributeDetail .AddAttributeLinks a:hover{
    color: aqua;
}
.ProductListDetail{
    background-color: #1e293b;
    padding: 20px;
    border-radius: 15px;
}
.ProductListDetail .Title p{
    color: white;
    font-family: Montserrat-Medium;
    letter-spacing: 1px;
}
.ProductListDetail .ItemsToShow{
    display: flex;
    padding-top: 10px;
    gap: 20px;
}
.ProductListDetail .ItemsToShow p{
    color: white;
    font-family: Montserrat-Medium;
}
.ProductListDetail .ItemsToShow #Items{
    width: 100%;
    height: 30px;
    font-family: Montserrat-Medium;
    border-radius: 10px;
}
.ProductListDetail .AddNewProduct{
    display: flex;
    justify-content: end;
}
.ProductListDetail .AddNewProduct img{
    padding-right: 5px;
}
.ProductListDetail .AddNewProduct a{
    padding: 10px 60px;
    text-decoration: none;
    background-color: white;
    font-size: 17px;
    border: none;
    letter-spacing: 2px;
    font-family: Montserrat-Medium;
    border-radius: 20px;
}
.ProductListDetail .AddNewProduct a:hover{
    background-color: darkblue;
    color: white;
}
.ProductItemsTable{
    overflow: scroll;
}
.ProductItemsTable::-webkit-scrollbar{
    display: none;
}
.ProductItemsTable .ItemName{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ProductItemsTable .ItemName .ProductName a{
    color: white;
    font-family: Montserrat-Medium;
    text-decoration: none;
}
.ProductItemsTable .ItemName .ProductName a:hover{
    color: aqua;
}
.ProductItemsTable table thead{
    border: 1px solid white;
}
.ProductItemsTable table thead th{
    color: white;
    text-align: center;
    background-color: #0f172a;
    padding: 15px;
}
.ProductItemsTable table tr{
    border: 1px solid white;
}
.ProductItemsTable table tr:nth-child(even){
    background-color: #0f172a;
}
.ProductItemsTable table td{
    color: white;
    text-align: center;
    padding: 20px;
}
.ProductItemsTable table .Action button{
    background-color: transparent;
    border: none;
}
.ItemStock p span{
    background-color: red;
    padding: 2px 3px;
    border-radius: 5px;
}